<!DOCTYPE html>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<style>
    [v-cloak] {
        display: none;
    }
    .highlight {
        border: solid 3px red;
        color: red;
    }
    .shooting-star-leave-to, .shooting-star-enter {
        transform: translateX(150px) rotate(30deg);
        opacity: 0;
    }
    .shooting-star-enter-active, .shooting-star-leave-active {
        transition: all .5s ease;
    }
    .neo-list-leave-to, .neo-list-enter {
        opacity: 0;
        transform: translateY(30px);
    }
    .neo-list-enter-active, .neo-list-leave-active {
        transition: all 1s linear;
    }
</style>
<!--Vue v-leave-to and v-enter: ending state when  we transition from on to off-->
<!--Vue v-leave-active and v-enter-active: how we transition from one state to the next, which CSS properties to apply it to, and the timing-->
<!--Learn more about Vue Enter/Leave Transitions: https://vuejs.org/v2/guide/transitions.html -->

<div id="app">
    <div class="container">
        <div class="card mt-5">
            <h2 class="card-header">Near Earth Objects</h2>
            <transition name="shooting-star"> <!--Transition CSS, doesn't actually render-->
                <div class="m-3" v-cloak v-if="numAsteroids > 0 && showSummary">
                    <p>Showing {{numAsteroids}} items</p>
                    <p>{{closestObject}} has the shortest miss distance.</p>
                </div>
            </transition>
            <div class="m-3">
                <a href="#" @click="showSummary =!showSummary">Show/Hide Summary</a>
            </div>
            <table class="table table-striped" :class="[{'table-dark': false}, 'table-bordered']">
                <thead class="thead-light">
                    <th>#</th>
                    <th>Name</th>
                    <th>Close Approach Date</th>
                    <th>Miss Distance</th>
                    <th>Remove</th>
                </thead>
                <!--Since waiting for data to return for curly braces, we add v-cloak to avoid screen flickering-->
                <!--Vue 'is' attribute tells Vue how we really want it to be treated as (i.e. A transition-group instead of a tbody) -->
                <tbody is="transition-group" name="neo-list" v-cloak> 
                    <!--The key attribute is good to implement if data can change through add, remove, or edit functions; unique for each element -->
                    <!--This allows VUE to update the list in place by patching when possible instead of re-rendering the entire list-->
                    <tr v-for="(a, index) in asteroids" :key="a.neo_reference_id" :class="{highlight: isMissingData(a), 'shadow-sm': true}">
                            <!-- :style="[getRowStyle(a), {color: 'blue'}]" style="color: green"> value and index for ARRAY -->
                        <td>{{index + 1}}</td>
                        <td>{{a.name}}</td>
                        <td>{{getCloseApproachDate(a)}}</td> <!--Create and call a method outside of this or else too long.-->
                        <td>
                            <ul v-if="a.close_approach_data.length > 0">
                                <li v-for="(value, key) in a.close_approach_data[0].miss_distance"> <!--key and value for LISTS-->
                                    {{key}}: {{value}}
                                </li>
                            </ul>
                        </td>
                        <td>
                            <button @click="remove(index)" class="btn btn-warning">Remove</button>
                        </td>
                    </tr>
                </transition-group>
                <!-- </tbody> -->
            </table>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
    var vm = new Vue({
        el: '#app',
        data: {
            asteroids: [],
            showSummary: true
        },
        computed: { // Computed functions return a value that's cached until any value that depends on are updated, which are then re-computed
            numAsteroids: function () {
                return this.asteroids.length;
            },
            closestObject: function () {
                var neosHavingData = this.asteroids.filter(function (neo) { // See if objects have the necessary miss data, returns true for items we want to keep
                    return neo.close_approach_data.length > 0;
                });
                var simpleNeos = neosHavingData.map(function (neo) { // Create a simpler array that only has two attribues: name and distance in miles
                    return {name: neo.name, miles: neo.close_approach_data[0].miss_distance.miles};
                });
                var sortedNeos = simpleNeos.sort(function (a,b) { // Sort takes a pair of items to sort
                    return a.miles - b.miles;
                })
                return sortedNeos[0].name
            }
        },
        created: function () { // Created will exectue as soon as the Vue instance is created. it is a VUE lifecycle hook.
            this.fetchAsteroids();
        },
        methods: {
            fetchAsteroids: function () {
                var apiKey = '88JMA43wYThUhio5fJSfMFhDNlfgpFqGsrmHLxQx';
                var url = 'https://api.nasa.gov/neo/rest/v1/neo/browse?api_key=' + apiKey;
                axios.get(url)
                    .then(function (res) { //res = response
                        vm.asteroids = res.data.near_earth_objects.slice(0,10) //Get first 10 objects in array
                    })
            },
            getCloseApproachDate: function(a) {
                // Have to account for the fact that some asteroids don't have a close approach date
                if (a.close_approach_data.length > 0) {
                    return a.close_approach_data[0].close_approach_date;
                }
                return 'N/A';
            },
            remove: function(index) {
                this.asteroids.splice(index, 1); // splice identifies the index to remove (index) and then how many to remove (1)
            },
            getRowStyle: function(a) {
                if (a.close_approach_data.length == 0) {
                    return {
                        border: 'solid 3px red',
                        color: 'red'
                    };
                }
            },
            isMissingData: function(a) {
                return a.close_approach_data.length == 0;
            }
        }  
    });
</script>